.site-page-header {
  height: 96px;
  font-size: 24px;
  background-color: white;
  border: 1px solid rgb(235, 237, 240);
}
.ant-page-header-heading-title {
  color: #4c545b;
  font-weight: 500;
  font-size: 23px;
}
.ant-page-header {
  height: 115px;
}
.heading {
  color: #4c545b;
  font-weight: 700;
  font-size: 16px;
}
.height {
  height: 170px;
}
.input {
  height: 57px;
  margin: 2px;
  padding: 30px;
}
.heightarea {
  height: 274px;
}
.site-card-wrapper {
  text-align: center;
}
