.site-page-header {
  height: 96px;
  font-size: 24px;
  background-color: white;
  border: 1px solid rgb(235, 237, 240);
}
.ant-page-header-heading-title {
  color: #4c545b;
  font-weight: 500;
  font-size: 23px;
}
.ant-page-header {
  height: 115px;
}
.ant-col-6 {
  margin: 20px;
}
.ant-col-12 {
  color: #4c545b;
  font-weight: 500;
  font-size: 16px;
}
.user_info {
  width: 880px;
  height: 105px;
}
.heading {
  color: #4c545b;
  font-weight: 700;
  font-size: 16px;
}
