.account-summary-content {
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 800px) {
    padding: 20px;
  }
}

.summary-header {
  margin-bottom: 20px;
}

.summary-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 10px;

  @media (max-width: 360px) {
    flex-wrap: wrap;
  }
}

.change-plan {
  margin-left: 10px;
  padding: 0 14px;
}

.change-plan > span,
.close-account > span {
  font-weight: 500;
  font-size: 12px;
}

.close-account {
  margin-left: 10px;
  padding: 0 14px;
}

.account-info {
  margin-bottom: 10px;
}
