.create-project-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 0 20px 20px 0;
  background: transparent;
  border: 2px dashed rgba(128, 144, 160, 0.5);
  border-radius: 4px;
}
